  @media (min-width: 768px) {
  .gaming-libary-card {
      flex: 1 1 100%;
    }
    
    .gaming-libary-card ul {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-primary);
      padding: calc(var(--padding-primary) / 2) 0;
    }
    
    .gaming-libary-card h4 {
      font-size: 1rem;
    }
    
    .gaming-libary-card span {
      color: rgba(255, 255, 255, 0.5);
    }

  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .gaming-library-card {
      background-color: var(--background-dark);
      border-radius: var(--border-radius-primary);
      margin-bottom: var(--margin-primary);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .gaming-library-card ul {
      background-color:var(--color-light);
      display: column;
      flex-direction: column;
      padding: var(--padding-primary);
      border-bottom: 1px solid var(--color-primary);
    }

    .gaming-library-card li {
      width: 100%;
      margin-bottom: 10px;
    }
    .gaming-library-card img{
      width: 100%;
    }
   
    .gaming-libary-card h4 {
      font-size: 1rem;
    }
    
    .gaming-libary-card span {
      color: rgba(255, 255, 255, 0.5);
  }
  }